table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 18px;
  text-align: left;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  table-layout: fixed;
}

th, td {
  padding: 14px;
  border: 1px solid #ddd;
}

th {
  background-color: #2563eb;
  color: white;
  font-weight: bold;
}

th:nth-child(1), td:nth-child(1) { width: 30%; }
th:nth-child(2), td:nth-child(2) { width: 4%; text-align: center;  } 
th:nth-child(3), td:nth-child(3) { width: 10%; } 
th:nth-child(4), td:nth-child(4) { width: 10%; }


td {
  background-color: #fff;
  transition: background 0.3s;
}

h2 {
  text-align: center;
  margin-top: 20px;
  font-size: 26px;
  color: #333;
  font-weight: bold;
}

p {
  text-align: center;
  font-size: 18px;
  color: #666;
}

.red {
  background-color: #ffebee; 
  color: #c62828; 
}

.green {
  background-color: #e8f5e9;
  color: #2e7d32;
}

.yellow {
  background-color: #fff9c4;
  color: #f9a825;
}

.gray {
  background-color: #f5f5f5;
  color: #616161;
}
